.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 15vw; */
    min-height: 200px;
    max-height: 10vh;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #203f49a9;
    color: white;
}

.card-img-top {
    /* height: 15vw; */
    min-height: 200px;
    max-height: 10vh; 
    object-fit: cover;
}

.img-box:hover .img-overlay {
    opacity: 1;
}

.card {
    min-width: 200px;
    max-width: 300px;
    margin: 15px;
}

.footer-nav {
    padding-left: 0;
}

.footer-nav li {
    display: inline;
}

.footer-nav li a {
    text-decoration: none;
    color: white;
}

.footer-nav li:nth-child(-n+2):after {
    content: " | "
}

.homeBody, .blogBody, .aboutBody {
    min-height: 70vh;
}