#test {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 77%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #203f49a9;
    color: white;
}

.img-box:hover #test {
    opacity: 1;
}

.card {
    min-width: 200px;
    max-width: 300px;
    margin: 15px;
}
